<table id="marketTable">
    <thead>
        <tr>
            <th class="col-exch">Exchange</th>
            <th class="col-hours">Hours</th>
            <th class="col-sess">Session</th>
            <th class="col-mtime">Market Time</th>
            <th class="col-ytime">Your Time</th>
            <th class="col-status">Status</th>
            <th class="col-open">To Open</th>
            <th class="col-close">To Close</th>
        </tr>
    </thead>
    <tbody id="marketBody"></tbody>
</table>