<div class="sidebar-inner">
    <div class="widget-group">
        <div class="widget-title">Rupee (INR) Pairs</div>
        <div class="price-row"><span>🇮🇳 INR/SEK</span><span id="inrsekPrice">--</span></div>
        <div class="price-row"><span>🇮🇳 INR/USD</span><span id="inrPrice">--</span></div>
        <div class="price-row"><span>🇮🇳 INR/DKK</span><span id="inrdkkPrice">--</span></div>
        <div class="price-row"><span>🇮🇳 INR/GBP</span><span id="inrgbpPrice">--</span></div>


        <div class="widget-group">
            <div class="widget-title">Commodities</div>
            <div class="price-row"><span>Gold (PAXG)</span><span id="paxgPrice">--</span></div>
        </div>

        <div class="widget-group">
            <div class="widget-title">Forex (vs USD)</div>
            <div class="price-row"><span>🇪🇺 EUR/USD</span><span id="eurPrice">--</span></div>
            <div class="price-row"><span>🇬🇧 GBP/USD</span><span id="gbpPrice">--</span></div>
            <div class="price-row"><span>🇸🇪 USD/SEK</span><span id="sekPrice">--</span></div>
            <div class="price-row"><span>🇩🇰 USD/DKK</span><span id="dkkPrice">--</span></div>
            <div class="price-row"><span>🇦🇪 USD/AED</span><span id="aedPrice">--</span></div>
        </div>
        <div class="widget-group">
            <div class="widget-title">Market Leaders</div>
            <div class="price-row"><span>Bitcoin (BTC)</span><span id="btcPrice">--</span></div>
            <div class="price-row"><span>Ethereum (ETH)</span><span id="ethPrice">--</span></div>
        </div>

    </div>
</div>